@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oleo+Script&family=Poppins:ital,wght@0,100..900;1,100..900&family=Inter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html a {
  color: white;

  scroll-behavior: smooth;
}

html {
  font-family: "Poppins", sans-serif;
}

.bg-page-bg {
  background-image: url("/images/branding/home-page-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  all: unset;
}

a,
button,
[role="button"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}

button:disabled,
input:disabled {
  cursor: not-allowed;
}
